@model IEnumerable<NetAtlas2.Models.User>
@{
    ViewBag.Title = "PostSearch";
    //Layout = "~/Views/Shared/_FriendsLayout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" type="text/css" href="~/Content/user/css/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Content/user/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/user/css/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/user/css/line-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/user/css/line-awesome-font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/user/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/user/lib/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/user/lib/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="~/Content/user/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/user/css/responsive.css">
    <link href="~/Content/user/images/netAtlas.png" rel="icon">
</head>


<body>


    <div class="wrapper">



        <header>
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a href="index.html" title=""><img src="~/Content/user/images/logo.png" alt=""></a>
                    </div><!--logo end-->
                    <div class="search-bar">
                        @using (Html.BeginForm("PostSearch", "Friends", FormMethod.Post))
                        {
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit"><i class="la la-search"></i></button>
                        }
                    </div><!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="@Url.Action("Index","ChatRoom",new { id = Convert.ToInt32(ViewBag.UserId) ,Img="" })" title="">
                                    <span><img src="~/Content/user/images/icon1.png" alt=""></span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a href="profiles.html" title="">
                                    <span><img src="~/Content/user/images/icon4.png" alt=""></span>
                                    Profiles
                                </a>
                                <ul>
                                    <li><a href="@Url.Action("Index", "User", new {id=ViewBag.UserId,Img=""})" title="">User Profile</a></li>
                                    <li><a href="@Url.Action("Index", "Friends", new {id=ViewBag.UserId,Img=""})" title="">Friends</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" title="" class="not-box-open">
                                    <span><img src="~/Content/user/images/icon6.png" alt=""></span>
                                    Messages
                                </a>
                                <div class="notification-box msg">
                                    <div class="nt-title">
                                        <h4>Setting</h4>
                                        <a href="#" title="">Clear all</a>
                                    </div>
                                    <div class="nott-list">
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/Content/user/images/resources/ny-img1.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="messages.html" title="">Jassica William</a> </h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/Content/user/images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="messages.html" title="">Jassica William</a></h3>
                                                <p>Lorem ipsum dolor sit amet.</p>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/Content/user/images/resources/ny-img3.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="messages.html" title="">Jassica William</a></h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="view-all-nots">
                                            <a href="messages.html" title="">View All Messsages</a>
                                        </div>
                                    </div><!--nott-list end-->
                                </div><!--notification-box end-->
                            </li>
                            <li>
                                <a href="#" title="" class="not-box-open">
                                    <span><img src="~/Content/user/images/icon7.png" alt=""></span>
                                    Notification
                                </a>
                                <div class="notification-box">
                                    <div class="nt-title">
                                        <h4>Setting</h4>
                                        <a href="#" title="">Clear all</a>
                                    </div>
                                    <div class="nott-list">
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/Content/user/images/resources/ny-img1.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/Content/user/images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/Content/user/images/resources/ny-img3.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="notfication-details">
                                            <div class="noty-user-img">
                                                <img src="~/Content/user/images/resources/ny-img2.png" alt="">
                                            </div>
                                            <div class="notification-info">
                                                <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                                <span>2 min ago</span>
                                            </div><!--notification-info -->
                                        </div>
                                        <div class="view-all-nots">
                                            <a href="#" title="">View All Notification</a>
                                        </div>
                                    </div><!--nott-list end-->
                                </div><!--notification-box end-->
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div class="user-account">
                        <div class="user-info">
                            <img src="http://via.placeholder.com/30x30" alt="">
                            <a href="#" title="">@ViewBag.username</a>
                            <i class="la la-sort-down"></i>
                        </div>
                        <div class="user-account-settingss">
                            <h3>Online Status</h3>
                            <ul class="on-off-status">
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" name="cc" id="c5">
                                        <label for="c5">
                                            <span></span>
                                        </label>
                                        <small>Online</small>
                                    </div>
                                </li>
                                <li>
                                    <div class="fgt-sec">
                                        <input type="radio" name="cc" id="c6">
                                        <label for="c6">
                                            <span></span>
                                        </label>
                                        <small>Offline</small>
                                    </div>
                                </li>
                            </ul>
                            <h3>Setting</h3>
                            <ul class="us-links">
                                <li><a href="profile-account-setting.html" title="">Account Setting</a></li>
                                <li><a href="#" title="">Terms & Conditions</a></li>
                            </ul>
                            <h3><a href="@Url.Action("Logout","Account")" title="">Log out</a></h3>
                        </div><!--user-account-settingss end-->
                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->



        <section class="companies-info">
            <div class="container">
                <div class="company-title">
                    <h3>Research Results</h3>
                </div><!--company-title end-->
                <div class="companies-list">
                    <div class="row">
                        @if (@ViewBag.Search == "No corresponding response to the search")
                        {
                            <h4 class="text-danger text-center">@ViewBag.Search</h4>
                        }
                        else if (@ViewBag.Search == "yes")
                        {
                            foreach (var user in Model)
                            {

                                Boolean isId = false;
                                Boolean estdedans = false;
                                Boolean estDejaInvite = false;

                                <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                    <div class="company_profile_info">
                                        <div class="company-up-info">
                                            @if (user.ImageUrl.Length > 0)
                                            {
                                                <img src="@Url.Content(user.ImageUrl)" alt="no image" style="height:64px" class="image-responsive img-circle" />
                                            }
                                            else
                                            {
                                                <img src="@Url.Content("~/Profile Images/profil_vide.png")" alt="no image" style="height:64px" class="image-responsive img-circle" />

                                            }
                                            <h3> @user.UserName</h3>
                                            <span>@user.Bio</span><br /><br />
                                            @if (ViewBag.Id == user.Id)
                                            {
                                                isId = true;
                                                using (Html.BeginForm("InviteFriend", "Friends"))
                                                {
                                                    <ul>
                                                        <li><a href="#" title="" class="envlp">Is you</a></li>
                                                    </ul>
                                                }
                                            }
                                            @if (isId == false)
                                            {

                                                foreach (var l in ((List<int>)ViewData["listfriend"]))
                                                {
                                                    if (@l == user.Id)
                                                    {
                                                        estdedans = true;
                                                        <ul>
                                                            <li><a href="@Url.Action("UnAddfriend", "Friends", new { id = @user.Id })" title="" class="envlp ">Remove</a></li>
                                                        </ul>
                                                        break;
                                                    }

                                                }
                                            }
                                            @if (estdedans == false && isId == false)
                                            {

                                                foreach (var l in ((List<int>)ViewData["listinvitation"]))
                                                {
                                                    if (@l == user.Id)
                                                    {

                                                        estDejaInvite = true;
                                                        <ul>
                                                            <li><a href="#" title="" class="hire">Already invite</a></li>
                                                            <li><a href="@Url.Action("Abort", "Friends", new { id = @user.Id })" title="" class="envlp">Abort</a></li>
                                                        </ul>
                                                        break;

                                                    }
                                                }
                                            }
                                            @if (estdedans == false && isId == false && estDejaInvite == false)
                                            {
                                                <ul>
                                                    <li><a href="@Url.Action("InviteFriend", "Friends", new { id = @user.Id })" title="" class="followw">Add friend</a></li>
                                                </ul>
                                            }

                                        </div>
                                        <a href="#" title="" class="view-more-pro">View Profile</a>

                                        <!--company_profile_info end-->
                                    </div>
                            
                        
                                </div><!--companies-list end-->
                            }
                        }
                    

                        <div class="company-title">
                            <h3>Suggestions</h3>
                        </div><!--company-title end-->
                        <div class="companies-list">
                            <div class="row">
                                @if (@ViewBag.Search1 == "No Friend you are just lonely")
                                {
                                    <h4 class="text-danger text-center">@ViewBag.Search</h4>
                                }
                                else if (@ViewBag.Search1 == "Ah you have friend baka")
                                {
                                    foreach (var user in ViewBag.Suggestions)
                                    {

                                        Boolean isId = false;
                                        Boolean estdedans = false;
                                        Boolean estDejaInvite = false;

                                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                                            <div class="company_profile_info">
                                                <div class="company-up-info">
                                                    @if (user.ImageUrl.Length > 0)
                                                    {
                                                        <img src="@Url.Content(user.ImageUrl)" alt="no image" style="height:64px" class="image-responsive img-circle" />
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content("~/Profile Images/profil_vide.png")" alt="no image" style="height:64px" class="image-responsive img-circle" />

                                                    }
                                                    <h3> @user.UserName</h3>
                                                    <span>@user.Bio</span><br /><br />
                                                    <ul>
                                                        <li><a href="@Url.Action("InviteFriend", "Friends", new { id = @user.Id })" title="" class="follow">Add Friend</a></li>
                                                    </ul>
                                                </div>
                                                <a href="#" title="" class="view-more-pro">View Profile</a>
                                            </div><!--company_profile_info end-->
                                        </div>
                                    }
                                }
                            </div><!--companies-list end-->

                            <div class="process-comm">
                                <div class="spinner">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>
        </section><!--companies-info end-->


    </div><!--theme-layout end-->



    <script type="text/javascript" src="~/Content/user/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/user/js/popper.js"></script>
    <script type="text/javascript" src="~/Content/user/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/user/js/flatpickr.min.js"></script>
    <script type="text/javascript" src="~/Content/user/lib/slick/slick.min.js"></script>
    <script type="text/javascript" src="~/Content/user/js/script.js"></script>
</body>
</html>                   